<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit phrase</title>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script  type="text/javascript" src="/js/generateElements.js"></script>
</head>
<body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var answer = /*[[${answer}]]*/ {};
    var actions = /*[[${template_actions}]]*/ null;
    /*]]>*/
</script>
<script  type="text/javascript" src="/js/editAction.js" defer></script>
<script  type="text/javascript" src="/js/chooseAction.js" defer></script>
<div class="form-group text-center center-block">
    <h1 style="color: forestgreen">Settings</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form th:action="@{/edit_user_phrase}" th:object="${answer}" method="post">
                    <fieldset>
                        <input type="hidden" th:field="*{id}"/>

                        <label for="phraseRequest" style="font: caption">User phrase request: </label>
                        <input type="text" class="form-control center-block" style="width: 300px"
                               id="phraseRequest" th:field="*{phraseRequest}"/>
                        <br/>

                        <label for="phraseAnswer" style="font: caption">Alexa phrase answer: </label>
                        <input type="text" class="form-control center-block" style="width: 300px"
                               id="phraseAnswer" th:field="*{phraseAnswer}"/>
                        <br/>

                        <label for="userLogin">User login:</label>
                        <select id="userLogin" name="userLogin" th:field="*{userLogin}">
                            <option th:each="user : ${users}" th:value="${user.login}" th:utext="|${user.firstName} ${user.lastName}|"/>
                        </select>
                        <br>

                        <div class="list-group" id="actionsBlock">
                            <div th:each="action, actionStat : *{actions}">
                                <div class="list-group-item" th:id="|actionItem-${actionStat.index}|" th:name="action-elem">
                                    <input type="hidden" th:field="*{actions[__${actionStat.index}__].id}"/>
                                    <input type="hidden" th:field="*{actions[__${actionStat.index}__].templateAction.id}"/>
                                    <input type="hidden" th:field="*{actions[__${actionStat.index}__].url}" th:id="|url-${actionStat.index}|"/>
                                    <button type="button" class="close" name="delete" onclick="deleteAction(event)">&times;</button>
                                    <p th:text="*{actions[__${actionStat.index}__].templateAction.description}"></p>
                                    <br>
                                    <div th:id="|paramsBlock-${actionStat.index}|">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" style="width: 80px" class="btn btn-success" onclick="generateURL()">Ok</button>
                        <a class="btn btn-info" th:href="@{'/show_phrase'}">Cancel</a>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-6">
                <div id="addActionBlock">
                    <fieldset>
                        <legend>Add new action</legend>
                        <label for="templateAction">Actions:</label>
                        <select id="templateAction" name="templateAction" onchange="showAction()">
                            <option value=""> -- </option>
                            <option th:each="action, actionStat : ${template_actions}"
                                    th:value="${actionStat.index}" th:utext="${action.description}"/>
                        </select>

                        <div id="paramBlock"></div>

                        <input id="urlValue" name="urlValue" type="hidden"/>
                        <input id="idAction" name="idAction" type="hidden"/>
                        <button type="button" class="btn btn-success" onclick="addAction()">Add</button>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>



</div>
</body>
</html>