<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Control panel</title>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body style="background:url('img/background3.jpg');
background-repeat: no-repeat;
background-size: 100%">
<div style="text-align: center">
    <br/> <br/>

    <form id="form_action" method="get" class="form-inline" onsubmit="doAction()">
        <label for="user_select" style="color:black; font-size: 24px">Select user:</label>
        <select id="user_select" class="form-control">
            <option value="ricky">Ricky</option>
            <option value="sam">Sam</option>
        </select>
        <label for="action_select" style="color:black; font-size: 24px">Select actionURL:</label>
        <select id="action_select" style="margin-left: 15px" class="form-control" onchange="selectAction()">
            <option value="next_page">Next Page</option>
            <option value="set_page">Set Page</option>
            <option value="change_temperature">Change temperature</option>
            <option value="set_location">Set Location</option>
            <option value="show_tickets">Show Ticket</option>
            <option value="hide_tickets">Hide Ticket</option>
            <option value="grant_ticket">Grant Ticket</option>
            <option value="open_football">Open Football</option>
            <option value="open_dmp">Open DMP</option>
            <option value="open_cartoon">Open Cartoon</option>
        </select>

        <div id="temperature_block" style="display: none; color:black; font-size: 24px">
            <input type="text" id="temperature" name="temperature">
        </div>

        <div id="number_page_block" style="display: none; color:black; font-size: 24px">
            <label for="number_page">Select page</label>
            <select id="number_page" name="number_page" class="form-control">
                <option name="number_page" value="0">1</option>
                <option name="number_page" value="1">2</option>
                <option name="number_page" value="2">3</option>
                <option name="number_page" value="3">4</option>
            </select>
        </div>


        <div id="location_block" style="display: none; color:black; font-size: 24px">
            <label for="location">Select location</label>
            <select id="location" name="name_location" class="form-control">
                <option th:each="location: ${locations}" th:value="${location.locationName}" th:utext="${location.locationName}"/>
            </select>
        </div>

        <div id="grant_ticket_block" style="display: none; color:black; font-size: 24px">
            <label for="grant_ticket">Select receive user</label>
            <select id="grant_ticket" name="receive_user" class="form-control">
                <option value="sam">Sam</option>
                <option value="ricky">Ricky</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Ok</button>

    </form>

    <script>
        var selectUserElement = document.getElementById("user_select");
        var selectActionElement = document.getElementById("action_select");

        var numberPageBlock = document.getElementById("number_page_block");
        var numberPageElement = document.getElementById("number_page");

        var locationBlock = document.getElementById("location_block");
        var locationElement = document.getElementById("location");

        var temperatureBlock = document.getElementById("temperature_block");
        var temperatureElement = document.getElementById("temperature");

        var grantTicketBlock = document.getElementById("grant_ticket_block");
        var grantTicketElement = document.getElementById("grant_ticket");

        var formActionElement = document.getElementById("form_action");

        function selectAction() {
            hideOptionsBlocks();
            let opt = selectActionElement.options[selectActionElement.selectedIndex];
            switch (opt.value) {
                case "set_page":
                    numberPageBlock.style.display = "";
                    break;
                case "set_location":
                    locationBlock.style.display = "";
                    break;
                case "grant_ticket":
                case "next_step":
                    grantTicketBlock.style.display = "";
                    break;
                case "change_temperature":
                    temperatureBlock.style.display = "";
            }
        }

        function hideOptionsBlocks() {
            numberPageBlock.style.display = "none";
            locationBlock.style.display = "none";
            grantTicketBlock.style.display = "none";
            temperatureBlock.style.display = "none";
        }

        function doAction() {
            let username = selectUserElement.options[selectUserElement.selectedIndex].value;
            let actionOpt = selectActionElement.options[selectActionElement.selectedIndex].value;
            switch (actionOpt) {
                case "next_page":
                    formActionElement.action = "/user/" + username + "/next_page";
                    break;
                case "set_page":
                    let number = numberPageElement.options[numberPageElement.selectedIndex].value;
                    formActionElement.action = "/user/" + username + "/set_page?number_page=" + number;
                    break;
                case "set_location":
                    let nameLocation = locationElement.options[locationElement.selectedIndex].value;
                    formActionElement.action = "/user/" + username + "/set_location?name_location=" + nameLocation;
                    break;
                case "show_tickets":
                    formActionElement.action = "/user/" + username + "/show_tickets";
                    break;
                case "hide_tickets":
                    formActionElement.action = "/user/" + username + "/hide_tickets";
                    break;
                case "grant_ticket":
                    let userReceive = grantTicketElement.options[grantTicketElement.selectedIndex].value;
                    formActionElement.action = "/user/" + username + "/grant_ticket?receive_user=" + userReceive;
                    break;
                case "open_football":
                    formActionElement.action = "/user/" + username + "/open_football";
                    break;
                case "open_dmp":
                    formActionElement.action = "/user/" + username + "/open_dmp";
                    break;
                case "open_cartoon":
                    formActionElement.action = "/user/" + username + "/open_cartoon";
                    break;
                case "change_temperature":
                    let temperature = temperatureElement.value;
                    formActionElement.action = "/user/" + username + "/change_temperature?temperature=" + temperature;
            }
        }

    </script>

    <br/>

    <div class="container">
        <div class="row">
            <a class="btn btn-success" th:href="@{'/script/'}">Go to scenario</a>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <legend style="color:black; font-size: 30px">Show list of request from users</legend>
                    <a class="btn btn-success" th:href="@{'/show_request'}">List requests</a>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <legend style="color:black; font-size: 30px">Alexa answers</legend>
                    <a class="btn btn-success" th:href="@{'/show_phrase'}">List phrase</a>
                    <a class="btn btn-success" th:href="@{'/add_answer'}">Add new phrase</a>
                </fieldset>
            </div>
        </div>
        <br/> <br/> <br/>
        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <legend style="color:black; font-size: 30px">Football</legend>
                    <div class="col-md-6">
                        <a class="btn btn-success" th:href="@{'/add_football_score/left'}">Add left part score</a>
                        <br/> <br/>
                        <a class="btn btn-success" th:href="@{'/add_football_score/right'}">Add right part score</a>
                        <br/> <br/>
                        <a class="btn btn-success" th:href="@{'/reset_football_score'}">Reset score</a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-success" th:href="@{'/user/ricky/open_football'}">Open video football for Ricky</a>
                        <br/> <br/>
                        <a class="btn btn-success" th:href="@{'/football_modal/arsenal'}">Modal arsenal</a>
                        <br/> <br/>
                        <a class="btn btn-success" th:href="@{'/football_modal/manchester'}">Modal manchester</a>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <legend style="color:black; font-size: 30px">For Ricky</legend>
                    <div class="row">
                        <div class="col-md-3">
                            <a class="btn btn-success" th:href="@{'/user/ricky/next_page'}">Next Step Ricky</a>
                            <br/> <br/>
                            <form th:action="@{/user/ricky/set_page}" method="get">
                                <input type="hidden" name="number_page" value="0">
                                <button type="submit" class="btn btn-success">Ricky First page</button>
                            </form>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-success" th:href="@{'/user/ricky/show_tickets'}">Show tickets</a>
                            <br/> <br/>
                            <a class="btn btn-success" th:href="@{'/user/ricky/hide_tickets'}">Hide tickets</a>
                        </div>
                        <div class="col-md-3">
                            <form th:action="@{/user/ricky/set_location}" method="get">
                                <input type="hidden" name="name_location" value="london">
                                <button type="submit" class="btn btn-success">Location London</button>
                            </form>
                            <br/>
                            <form th:action="@{/user/ricky/set_location}" method="get">
                                <input type="hidden" name="name_location" value="dubai">
                                <button type="submit" class="btn btn-success">Location Dubai</button>
                            </form>
                        </div>
                        <div class="col-md-3">
                            <form th:action="@{/user/ricky/set_loyalty_point}" method="get">
                                <input type="hidden" name="count_points" value="365">
                                <button type="submit" class="btn btn-success">Loyalty points = 365</button>
                            </form>
                            <br/>
                            <form th:action="@{/user/ricky/set_loyalty_point}" method="get">
                                <input type="hidden" name="count_points" value="315">
                                <button type="submit" class="btn btn-success">Loyalty points = 315</button>
                            </form>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-4">
                            <form th:action="@{/user/ricky/grant_ticket}" method="get">
                                <input type="hidden" name="receive_user" value="sam">
                                <button type="submit" class="btn btn-success">Grant Ricky ticket to Sam</button>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <form th:action="@{/user/ricky/change_temperature}" method="get">
                                <input type="hidden" name="temperature" value="19">
                                <button type="submit" class="btn btn-success">Set temperature in 19°</button>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-success" th:href="@{'/user/ricky/open_dmp'}">Open DMP</a>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <br/> <br/> <br/> <br/>
        <div class="row">
            <fieldset>
                <legend style="color:black; font-size: 30px">For Sam</legend>
                <a class="btn btn-success" th:href="@{'/user/sam/open_cartoon'}">Open cartoon for Sam</a>
            </fieldset>

        </div>

    </div>
</div>

</body>
</html>