<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Control panel</title>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body style="background:url('img/background.jpg');
background-repeat: no-repeat;
background-size: 100%">
<div style="text-align: center">
    <br/>

    <form id="form_action" method="get">
        <label for="user_select" style="color:white">Select user:</label>
        <select id="user_select" class="form-group">
            <option value="ricky">Ricky</option>
            <option value="sam">Sam</option>
        </select>
        <label for="action_select" style="color:white">Select actionURL:</label>
        <select id="action_select" class="form-group" onchange="selectAction()">
            <option value="next_page">Next Page</option>
            <option value="set_page">Set Page</option>
            <option value="set_location">Set Location</option>
            <option value="show_tickets">Show Ticket</option>
            <option value="hide_tickets">Hide Ticket</option>
            <option value="grant_ticket">Grant Ticket</option>
            <option value="open_football">Open Football</option>
            <option value="open_cartoon">Open Cartoon</option>
        </select>

        <div id="number_page_block" style="display: none">
            <label for="number_page">Select page</label>
            <select  id="number_page" name="number_page">
                <option name="number_page" value="0">1</option>
                <option name="number_page" value="1">2</option>
                <option name="number_page" value="2">3</option>
                <option name="number_page" value="3">4</option>
            </select>
        </div>


        <div id="location_block" style="display: none">
            <label for="location">Select location</label>
            <select id="location" name="name_location">
                <option value="london">London</option>
                <option value="dubai">Dubai</option>
            </select>
        </div>

        <div id="grant_ticket_block" style="display: none">
            <label for="grant_ticket">Select receive user</label>
            <select id="grant_ticket" name="receive_user">
                <option value="sam">Sam</option>
                <option value="ricky">Ricky</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success" onclick="doAction()">Ok</button>

    </form>

    <script>
        var selectUserElement = document.getElementById("user_select");
        var selectActionElement = document.getElementById("action_select");

        var numberPageBlock = document.getElementById("number_page_block");
        var numberPageElement = document.getElementById("number_page");

        var locationBlock = document.getElementById("location_block");
        var locationElement = document.getElementById("location");

        var grantTicketBlock = document.getElementById("grant_ticket_block");
        var grantTicketElement = document.getElementById("grant_ticket");

        var formActionElement = document.getElementById("form_action");
        function selectAction(){
            hideOptionsBlocks();
            let opt = selectActionElement.options[selectActionElement.selectedIndex];
            switch(opt.value){
                case "set_page":
                    numberPageBlock.style.display = "";
                    break;
                case "set_location":
                    locationBlock.style.display = "";
                    break;
                case "grant_ticket":
                case "next_step":
                    grantTicketBlock.style.display = "";
                    break;
            }
        }

        function hideOptionsBlocks() {
            numberPageBlock.style.display = "none";
            locationBlock.style.display = "none";
            grantTicketBlock.style.display = "none";
        }

        function doAction() {
            let username = selectUserElement.options[selectUserElement.selectedIndex].value;
            let actionOpt = selectActionElement.options[selectActionElement.selectedIndex].value;
            switch(actionOpt){
                case "next_page":
                    formActionElement.action = "/user/" + username + "/next_page";
                    break;
                case "set_page":
                    let number = numberPageElement.options[numberPageElement.selectedIndex].value;
                    formActionElement.action = "/user/" + username + "/set_page?number_page=" + number;
                    break;
                case "set_location":
                    let nameLocation = locationElement.options[locationElement.selectedIndex].value;
                    formActionElement.action = "/user/" + username + "/set_location?name_location=" + nameLocation;
                    break;
                case "show_tickets":
                    formActionElement.action = "/user/" + username + "/show_tickets";
                    break;
                case "hide_tickets":
                    formActionElement.action = "/user/" + username + "/hide_tickets";
                    break;
                case "grant_ticket":
                    let userReceive = grantTicketElement.options[grantTicketElement.selectedIndex].value;
                    formActionElement.action = "/user/" + username + "/grant_ticket?receive_user=" + userReceive;
                    break;
                case "open_football":
                    formActionElement.action = "/user/" + username + "/open_football";
                    break;
                case "open_cartoon":
                    formActionElement.action = "/user/" + username + "/open_cartoon";
                    break;
            }
        }

    </script>

    <a class="btn btn-success" th:href="@{'/show_phrase'}">Go to list phrase</a>
    <a class="btn btn-success" th:href="@{'/add_answer'}">Go to add phrase page</a>

    <br/>
    <br/>


    <form th:action="@{'/add_football_score/left'}" method="get">
        <button type="submit" class="btn btn-info">Add left part score</button>
    </form>

    <br/>

    <form th:action="@{/add_football_score/right}" method="get">
        <button type="submit" class="btn btn-info">Add right part score</button>
    </form>

    <br/>

    <form th:action="@{/reset_football_score}" method="get">
        <button type="submit" class="btn btn-info">Reset score</button>
    </form>

    <br/>

    <form th:action="@{/football_modal/arsenal}" method="get">
        <button type="submit" class="btn btn-info">Modal arsenal</button>
    </form>

    <br/>

    <form th:action="@{/football_modal/manchester}" method="get">
        <button type="submit" class="btn btn-info">Modal manchester</button>
    </form>

    <br/>

    <form th:action="@{/user/ricky/next_page}" method="get">
        <button type="submit" class="btn btn-success">Next Step Ricky</button>
    </form>

    <br/>

    <form th:action="@{/user/ricky/set_page}" method="get">
        <input type="hidden" name="number_page" value="0">
        <button type="submit" class="btn btn-success">Ricky first page</button>
    </form>

    <br/>

    <form th:action="@{/user/ricky/set_location}" method="get">
        <input type="hidden" name="name_location" value="london">
        <button type="submit" class="btn btn-default">Set location London</button>
    </form>

    <br/>

    <form th:action="@{/user/ricky/set_location}" method="get">
        <input type="hidden" name="name_location" value="dubai">
        <button type="submit" class="btn btn-default">Set location Dubai</button>
    </form>

    <br/>

    <form th:action="@{/user/ricky/show_tickets}" method="get">
        <button type="submit" class="btn btn-danger">Show tickets</button>
    </form>

    <br/>

    <form th:action="@{/user/ricky/hide_tickets}" method="get">
        <button type="submit" class="btn btn-danger">Hide tickets</button>
    </form>

    <br/>

    <form th:action="@{/user/ricky/grant_ticket}" method="get">
        <input type="hidden" name="receive_user" value="sam">
        <button type="submit" class="btn btn-danger">Grant Ricky ticket to Sam</button>
    </form>

    <br/>

    <form th:action="@{/user/ricky/set_loyalty_point}" method="get">
        <input type="hidden" name="count_points" value="365">
        <button type="submit" class="btn btn-default">Set loyalty points = 365</button>
    </form>

    <br/>

    <form th:action="@{/user/ricky/set_loyalty_point}" method="get">
        <input type="hidden" name="count_points" value="315">
        <button type="submit" class="btn btn-default">Set loyalty points = 315</button>
    </form>

    <br/>

    <form th:action="@{/user/ricky/open_football}" method="get">
        <button type="submit" class="btn btn-info">Open video football for Ricky</button>
    </form>

    <br/>

    <form th:action="@{/user/sam/open_cartoon}" method="get">
        <button type="submit" class="btn btn-info">Open cartoon for Sam</button>
    </form>
</div>

</body>
</html>