<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alexa's requests</title>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<div class="center-block text-center">
    <br/>
    <a class="btn btn-info" th:href="@{'/'}">Go to main page</a>
    <a class="btn btn-danger" th:href="@{'/clear_all_requests'}">Delete All</a>
    <br/> <br/>
</div>

<div style="width: 90%" class="panel panel-default center-block text-center">
    <table class="table table-hover">
        <thead>
        <tr>
            <th style="width: 5%; text-align: center; vertical-align : middle">#</th>
            <th style="width: 40%; text-align: center; vertical-align : middle">Alexa phrase</th>
            <th style="width: 45%; text-align: center; vertical-align : middle">Version phrase for search</th>
            <th style="width: 10%; text-align: center; vertical-align : middle">Delete</th>
        </tr>
        </thead>

        <tr th:each="alexa_request, iterStat : ${alexa_requests}">
            <td style="text-align: center; vertical-align : middle" th:text="${iterStat.count}"></td>

            <td style="text-align: center; vertical-align : middle">
                <p th:text="${alexa_request.alexaPhrase}"></p>
            </td>

            <td style="text-align: center; vertical-align : middle">
                <p th:text="${alexa_request.searchVersion}"></p>
            </td>

            <td style="text-align: center; vertical-align : middle">
                <form th:action="@{/delete_request_phrase}" method="post">
                    <input type="hidden" id="id_talk" th:name="idRequest" th:value="${alexa_request.id}"/>
                    <button type="submit" class="btn btn-default glyphicon glyphicon-trash"></button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>