<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ricky</title>
</head>
<body>
<div class="pt-page pt-page-1 pt-page-current">
    <div class="row justify-content-center">
        <div class="">

        </div>
        <div class="time_block time_block_right">16:39     pm
        </div>
        <div class="date_block date_block_right">
            <div>October 1th, 2018
            </div>
            <div class="week_day">Monday
            </div>
        </div>
    </div>
    <div class="row">
        <div class="scroll-image">
            <img class="bcg_img_one" src="mockup/london/bg/1 Lock Screen.png"></div>
    </div>
</div>
</body>
</html>