<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Alexa answers</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.2.1/jquery.min.js" defer></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="form-group text-center center-block">
    <h1 style="color: forestgreen">Answer page</h1>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-2 center-block text-center">
            <form th:action="@{/add_action}" method="post">

                <input id="login" type="text" class="form-control" placeholder="Login"
                       th:name="login">
                <br>

                <input id="userPhrase" type="text" class="form-control" placeholder="User phrase"
                       th:name="userPhrase"/>
                <br>

                <input id="alexaAnswer" type="text" class="form-control" placeholder="Alexa answer"
                       th:name="alexaAnswer"/>
                <br>

                <div>
                    <input type="checkbox" id="isAction" name="isAction" onchange="chooseActions()"/>
                    <label for="isAction">Add action</label>
                </div>

                <div id="actionBlock" style="display: none">

                    <label for="typeAction">Choose name action:</label>
                    <select id="typeAction" name="typeAction">
                        <option value=""> -- </option>
                        <option th:each="action : ${actions}" th:value="${action.id}" th:utext="${action.description}"/>
                    </select>

                    <!--<input id="typeAction" type="text" class="form-control" placeholder="Type action"
                           th:name="typeAction"/>-->
                    <br>

                    <input id="paramAction" type="text" class="form-control" placeholder="Action param"
                           th:name="paramAction"/>
                    <br>
                </div>

                <button type="submit" style="width: 80px; margin-left: 1%" class="btn btn-info">Ok</button>

            </form>
        </div>
    </div>
</div>
<script>
    var isAction = document.getElementById("isAction");
    var actionBlock = document.getElementById("actionBlock");
    var typeAction = document.getElementById("typeAction");
    var paramActions = document.getElementById("paramAction");
    function chooseActions() {
        if(isAction.checked) {
            actionBlock.style.display = "";
        } else {
            actionBlock.style.display = "none";
            typeAction.value = "";
            paramActions.value = "";
        }
    }
</script>
</body>
</html>