<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<form th:action="@{/handle_user_request}" method="post" id="messageForm">
    <input type="text" id="text" name="userMessage">
    <button type="submit" class="btn btn-info" onclick="sendMessage(event)">Tell</button>
</form>

<script>
    function sendMessage(event) {
        var form = document.getElementById("messageForm");
        var formData = new FormData(form);

        var request = new XMLHttpRequest();
        request.open("post", form.action, true);

        request.onreadystatechange = function (e) {
            if(request.readyState === 4 && request.status === 200) {
                alert(request.responseText);
            }
        };
        request.send(formData);
        event.preventDefault();
        return false;
    }
</script>
</body>
</html>